<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHISHA: We listen, we dont judge</title>
    <link rel="stylesheet" href="assets/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

    <!--  navbar -->
        <section class="nav_area">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">SHISHA  <i class="fa-solid fa-face-meh-blank"></i></a>
                  <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger-icon">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Shi By Category
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Love and Relationship</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Crime</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Office and Job</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Drop Shi</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"> Shisha Timeline </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Terms</a>  
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
              
        </section>
    <!-- navbar ends -->
    <!-- hero starts -->
        <section class="hero">
            <div class="container-fluid mycont"> 
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <h1> START SHARING SHI  </h1>
                        <P>Pour out all your heart out, like no one is watching, <br> <small>Remember we listen, we dont judge</small></P>
                    
                    
                    </div>
                </div>
            </div>
        </section>
    <!-- hero ends -->
    <!-- main area -->
        <section class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <form action="" method="post" class="shi-form">
                            <div class="row mb-3">
                                <label for="title" class="col-sm-3 col-form-label">Shi Title</label>
                                <div class="col-sm-9">
                                <input type="text" class="form-control" id="title" placeholder="give your shi a title: how i danced in the bathroom">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="summary" class="col-sm-3 col-form-label">Shi Summary</label>
                                <div class="col-sm-9">
                                <input type="text" class="form-control" id="summary" placeholder="Summarize the whole shi in a sentence">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="category" class="col-sm-3 col-form-label">Shi Category</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="category" name="category">
                                        <option selected>Select Best Category for your Shi</option>
                                        <option value="1">Relationship</option>
                                        <option value="2">Crime</option>
                                        <option value="3">News</opton>
                                        <option value="4">Cruise catchin</option>
                                        <option value="5">It never happened</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="content" class="col-sm-3 col-form-label">Shi Content</label>
                                <div class="col-sm-9">
                                    <textarea name="content" id="content" class="form-control" rows="6" 
                                    placeholder="
                                    It all began one morning while I was taking bath...."></textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Lifecycle" class="col-sm-3 col-form-label">Shi Lifecycle</label>
                                <div class="col-sm-9">
                                    <select class="form-select border-0" id="Lifecycle" name="Lifecycle">
                                        <option selected>How long should your shi be available</option>
                                        <option value="1">One Day</option>
                                        <option value="2">One Month</option>
                                        <option value="3">One Month</option>
                                        <option value="4">One Year</option>
                                        <option value="5">Forever</option>
                                      </select>
                                </div>
                            </div>

                            <div class="row float-end px-2">
                                <button class="btn btn-primary pry-bg btn-lg">Post Shi Now</button>
                            </div>
                            

                       </form>
                    </div>

                    <div class="col-md-4">
                        <div class="px-3">
                            <ul class="list-group">
                                <li class="list-group-item pry-bg alt-text" aria-current="true">Remember Our Rules</li>
                                <li class="list-group-item">No mentioning of names</li>
                                <li class="list-group-item">No description of someone</li>
                                <li class="list-group-item">We reserve the right to delete any content</li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- main area ends-->

    <!-- footer section -->
        <section class="footer">
            <div class="container">
                <div class="row myrow">   
                    <div class="col-md-4">
                       <div class="footerbox">
                            <h4> About Us </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea deserunt quis reiciendis aut, quia illum quisquam voluptate consectetur libero nemo consequuntur veniam, placeat non error nihil, possimus hic facere.</p>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footerbox">
                            <h4> Terms </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea deserunt quis reiciendis aut, quia illum quisquam voluptate consectetur libero nemo consequuntur veniam, placeat non error nihil, possimus hic facere.</p>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footerbox">
                            <h4> Links </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea deserunt quis reiciendis aut, quia illum quisquam voluptate consectetur libero nemo consequuntur veniam, placeat non error nihil, possimus hic facere.</p>
                       </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center mt-5">
                        <h6>
                            &copy; 2025 <span id="year"></span> SHISHA. All rights reserved. 
                            <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>    
                        </h6>
                    </div>
                </div>
            </div>
        </section>
    <!-- footer section ends -->
    <script src="/assets/js/jquery.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>