<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHISHA: We listen, we dont judge</title>
    <link rel="stylesheet" href="assets/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>

    <!--  navbar -->
        <section class="nav_area">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">SHISHA  <i class="fa-solid fa-face-meh-blank"></i></a>
                  <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger-icon">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Shi By Category
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Love and Relationship</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Crime</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Office and Job</a></li>
                        </ul>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Drop Shi</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#"> Shisha Timeline </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Terms</a>  
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
              
        </section>
    <!-- navbar ends -->
    <!-- hero starts -->
        <section class="hero">
            <div class="container-fluid mycont"> 
                <div class="row">
                    <div class="col-md-6 offset-md-3 text-center">
                        <h1> SECRET SHARING PLATFORM  </h1>
                        <P>We Listen but we dont judge</P>
                        <a href="addsecret.html" class="btn btn-primary"> Share  <i class="fa-solid fa-share"></i></a>
                        <a href="#" class="btn btn-primary">Read <i class="fa-brands fa-readme"></i></a>
                    </div>
                </div>
            </div>
        </section>
    <!-- hero ends -->
    <!-- main area -->
        <section class="main">
            <div class="container">
                <div class="row">
                    <!-- main -->
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col text-center mb-3">
                                <h2 class="main-h2"> Editor's Selected Shi </h2>
                            </div>
                        </div>
                        <!-- all shi -->
                        <div class="row">
                            <div class="col">
                                <div class="shi-box">
                                    <div class="shi-main">
                                        <h3>Shi Title</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolore, incidunt aspernatur doloribus eos nesciunt </p>
                                        <hr>
                                        <a href="#" class="btn btn-primary"> <i class="fa-solid fa-eye"></i> Detail Shi</a>


                                    </div>
                                    <div class="shi-stat">
                                        <p class="text-muted">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>500</span>
                                        </p>
                                        <p class="text-muted">
                                            <i class="fa-solid fa-star"></i>
                                            <span>100%</span>
                                        </p>

                                        <p class="text-muted">
                                            <i class="fa-solid fa-flag"></i>
                                            <span>50</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="shi-box">
                                    <div class="shi-main">
                                        <h3>Shi Title</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolore, incidunt aspernatur doloribus eos nesciunt </p>
                                        <hr>
                                        <a href="#" class="btn btn-primary"> <i class="fa-solid fa-eye"></i> Detail Shi</a>
                                        

                                    </div>
                                    <div class="shi-stat">
                                        <p class="text-muted">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>500</span>
                                        </p>
                                        <p class="text-muted">
                                            <i class="fa-solid fa-star"></i>
                                            <span>100%</span>
                                        </p>

                                        <p class="text-muted">
                                            <i class="fa-solid fa-flag"></i>
                                            <span>50</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="shi-box">
                                    <div class="shi-main">
                                        <h3>Shi Title</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolore, incidunt aspernatur doloribus eos nesciunt </p>
                                        <hr>
                                        <a href="#" class="btn btn-primary"> <i class="fa-solid fa-eye"></i> Detail Shi</a>


                                    </div>
                                    <div class="shi-stat">
                                        <p class="text-muted">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>500</span>
                                        </p>
                                        <p class="text-muted">
                                            <i class="fa-solid fa-star"></i>
                                            <span>100%</span>
                                        </p>

                                        <p class="text-muted">
                                            <i class="fa-solid fa-flag"></i>
                                            <span>50</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="shi-box">
                                    <div class="shi-main">
                                        <h3>Shi Title</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolore, incidunt aspernatur doloribus eos nesciunt </p>
                                        <hr>
                                        <a href="#" class="btn btn-primary"> <i class="fa-solid fa-eye"></i> Detail Shi</a>
                                        

                                    </div>
                                    <div class="shi-stat">
                                        <p class="text-muted">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>500</span>
                                        </p>
                                        <p class="text-muted">
                                            <i class="fa-solid fa-star"></i>
                                            <span>100%</span>
                                        </p>

                                        <p class="text-muted">
                                            <i class="fa-solid fa-flag"></i>
                                            <span>50</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="shi-box">
                                    <div class="shi-main">
                                        <h3>Shi Title</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolore, incidunt aspernatur doloribus eos nesciunt </p>
                                        <hr>
                                        <a href="#" class="btn btn-primary"> <i class="fa-solid fa-eye"></i> Detail Shi</a>


                                    </div>
                                    <div class="shi-stat">
                                        <p class="text-muted">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>500</span>
                                        </p>
                                        <p class="text-muted">
                                            <i class="fa-solid fa-star"></i>
                                            <span>100%</span>
                                        </p>

                                        <p class="text-muted">
                                            <i class="fa-solid fa-flag"></i>
                                            <span>50</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="shi-box">
                                    <div class="shi-main">
                                        <h3>Shi Title</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum dolore, incidunt aspernatur doloribus eos nesciunt </p>
                                        <hr>
                                        <a href="#" class="btn btn-primary"> <i class="fa-solid fa-eye"></i> Detail Shi</a>
                                        

                                    </div>
                                    <div class="shi-stat">
                                        <p class="text-muted">
                                            <i class="fa-solid fa-eye"></i>
                                            <span>500</span>
                                        </p>
                                        <p class="text-muted">
                                            <i class="fa-solid fa-star"></i>
                                            <span>100%</span>
                                        </p>

                                        <p class="text-muted">
                                            <i class="fa-solid fa-flag"></i>
                                            <span>50</span>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        




                    </div>
                    <!-- sidebar -->
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col text-center  mb-4 pt-3">
                                <h4>  Shi Category </h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="shi-cat-box">
                                    <ul class="list-group">
                                        <li class="list-group-item">An item</li>
                                        <li class="list-group-item">A second item</li>
                                        <li class="list-group-item">A third item</li>
                                        <li class="list-group-item">A fourth item</li>
                                        <li class="list-group-item">And a fifth one</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center   mb-4 pt-3">
                                <h4> Popular  Shi Tags </h4>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col">
                                <div class="shi-cat-box">
                                    <ul class="list-group">
                                        <li class="list-group-item">An item</li>
                                        <li class="list-group-item">A second item</li>
                                        <li class="list-group-item">A third item</li>
                                        <li class="list-group-item">A fourth item</li>
                                        <li class="list-group-item">And a fifth one</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </section>
    <!-- main area ends-->

    <!-- footer section -->
        <section class="footer">
            <div class="container">
                <div class="row myrow">   
                    <div class="col-md-4">
                       <div class="footerbox">
                            <h4> About Us </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea deserunt quis reiciendis aut, quia illum quisquam voluptate consectetur libero nemo consequuntur veniam, placeat non error nihil, possimus hic facere.</p>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footerbox">
                            <h4> Terms </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea deserunt quis reiciendis aut, quia illum quisquam voluptate consectetur libero nemo consequuntur veniam, placeat non error nihil, possimus hic facere.</p>
                       </div>
                    </div>
                    <div class="col-md-4">
                        <div class="footerbox">
                            <h4> Links </h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur ea deserunt quis reiciendis aut, quia illum quisquam voluptate consectetur libero nemo consequuntur veniam, placeat non error nihil, possimus hic facere.</p>
                       </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center mt-5">
                        <h6>
                            &copy; 2025 <span id="year"></span> SHISHA. All rights reserved. 
                            <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>    
                        </h6>
                    </div>
                </div>
            </div>
        </section>
    <!-- footer section ends -->
    <script src="/assets/js/jquery.js"></script>
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>